{% include svg-icons.html %}
<div class="footer-info">
  <!-- 当前时间 -->
  <div id="current-time"></div>

  <!-- 统计访问量 -->
  <div>
    蛸窝总访问量：<span id="busuanzi_value_site_pv">加载中^^...</span>
    <span>本篇点击次数：<span id="busuanzi_value_page_pv">加载中...</span></span>

  </div>
</div>

<!-- 更新时间 JavaScript -->
<script>
  function updateTime() {
    const now = new Date();
    const formattedTime = now.toLocaleString('zh-CN', { hour12: false });
    document.getElementById("current-time").innerText = "当前时间：" + formattedTime;
  }
  setInterval(updateTime, 1000);
  updateTime();
</script>

<!-- 引入不蒜子统计 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}
