<!DOCTYPE html>

<html>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    // 禁止右键菜单
    document.addEventListener('contextmenu', function (e) {
      e.preventDefault();
    });

    // 禁止选择文本
    document.addEventListener('selectstart', function (e) {
      e.preventDefault();
    });

    // 禁止 Ctrl + C (复制)
    document.addEventListener('copy', function (e) {
      e.preventDefault();
      alert('哦不……TT');
    });
  });
</script>

  {% include head.html %}

  <body>

    {% include nav.html %}

    {% if page.toc==true %}
      <aside class="toc">
        {% include toc.html html=content %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}
 
  </body>

  {% if page.toc==true %}
  <script>
    document.getElementById("main").classList.add("withtoc");
  </script>
  {% endif %}

  <div class="wrapper-footer-mobile">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>

</html>
